= form_for @exercise do |f|
  = f.label :activity
  = f.text_field :activity


  = f.label :value
  = f.text_field :value

  = f.label :units
  = f.text_field :units

  = f.date_select :date

  = f.submit

