%p#notice= notice

%p
  %b Activity:
  = @exercise.activity
%p
  %b Value:
  = @exercise.value
%p
  %b Units:
  = @exercise.units
%p
  %b Completed:
  = @exercise.completed
%p
  %b User:
  = @exercise.user

= link_to 'Edit', edit_exercise_path(@exercise)
\|
= link_to 'Back', exercises_path
