!!!
%html
  %head
    
    %title Exercisr
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application"
    = csrf_meta_tags 

  %body

  - if current_user 
    = link_to "Edit Profile", edit_user_path(current_user.id) 
    = link_to "Logout", :logout 
    = link_to "Exercises", exercises_path
  - else
    = link_to "Register", new_user_path 
    \|
    = link_to "Login", :login 

  %div
    %p#notice= notice
    %p#alert= alert

  = yield 
